@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #004c6d;
  --medium-blue: #007ea7;
  --teal-green: #00a7a7;
  --light-green: #6fb98f;
  --boxShadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  --orangeCard: rgba(255, 165, 0, 0.5);
  --smboxShadow: -20px 10px 30px rgba(0, 0, 0, 0.1);
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */


/* //navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  padding-inline: 5rem;
  text-transform: uppercase;
  background-color: var(--teal-green);
  box-shadow: 0 8px 6px -6px var(--boxShadow);
  --webkit-box-shadow: 0 8px 6px -6px var(--boxShadow);
  border-bottom: solid var(--light-green) !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

.search-form {
  margin-right: 10px;
  margin-top: 4px;
}

.search-form input {
  border: none;
  border-radius: 0;
}

.search-form button {
  background-color: #000000;
  border-radius: 0;
  color: white;
}

/* =============================
==========footer============= */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-block: 0.5rem !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #434343,
      #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004c6d, #042346);
}

.footer h1 {
  font-size: 1.2rem;

}

.footer a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover {
  background-color: black;
  color: white;
}

/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}

.cat-btn:hover {
  background-color: #434343;
  color: white;
}

/* ================
====dashboard
=================== */

.dashboard {
  margin-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: var(--light-green) !important;
  color: white;
  padding: 20px 0px;
}

/* changing default styles */

.bg-primary {
  background-color: var(--dark-blue);
}

.btn-primary {
  background-color: var(--teal-green);
  border-color: var(--teal-green);
}

.btn-primary:hover {
  background-color: var(--light-green);
  background-color: var(--light-green);
}

.btn-secondary {
  background-color: var(--medium-blue);
  border-color: var(--medium-blue);
}

.btn-secondary:hover {
  background-color: #228B22;
  border-color: #228B22;
}

.btn-danger {
  background-color: #FF385C;
  border-color: #FF385C;
  color: #FFFFFF;
}

.btn-danger:hover {
  background-color: #FF1A45;
  border-color: #FF1A45;
}